<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/estilos/styles.css" rel="stylesheet">
    <link href="/public/estilos/estilo.css" rel="stylesheet">
</head>
<body>
    <!-- Contenedor para la barra de navegación -->
    <div id="navbar"></div>

    <div class="container mt-4">
        <h1 class="text-center">Bienvenido a YouTify</h1>
        <p class="text-center">Explora canciones, álbumes y géneros.</p>
    </div>

    <script src="../Javascript/navbar.js"></script>
    <script src="../Javascript/generos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>